<%= link_to 'Add a new contact', '/contacts/new' %>
<br /><br />
<table class='table table-hover'>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
  </tr>
  
  <% Contact.all.each do |contact| %>
    <tr>
      <% if contact.name %>
        <td><%= link_to contact.name, "/contacts/#{contact.id}" %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <% if contact.address %>
        <td><%= contact.address %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <% if contact.phone_number %>
        <td><%= contact.phone_number %></td>
      <% else %>
        <td> - </td>
      <% end %>
    </tr>
  <% end %>
</table>